.location-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 6rem 0 2rem;
    justify-items: center;
}
@media (max-width:1650px){
    .location-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}
.location-container>.card{
    margin-block: 1.5rem;
    display: grid;
    grid-template-columns: 300px 1fr;   
    align-items: center;
    width: 800px;
    height: 440px;
    background-color: white;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease;
}
.location-container>.card:nth-child(even){
    margin-left: 0;
}

.card-img{
    overflow: hidden;
    height: 440px;
}
.card-img>img{
    transition: 0.2s ease;
}
.card:hover img{
    transform: scale(1.02);
}
.card:hover{
    box-shadow: 8px 8px 28px rgba(0, 0, 0, 0.25);
}





@media (max-width:850px){
    .location-container .card{
        margin-inline: 0;
        width: 100%;
    }
}

@media (max-width:750px){
    .location-container img{
        display: none;
    }
    .location-container .card{
        grid-template-columns: 0 1fr;
    }
}
.location-container>.card>.content{
    margin-inline: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.location-container>.card>.content>p{
    margin:0 0 18px 0;
    text-align: justify;
}
.location-container>.card>.content>.btn>p{
    text-align: center;
    width: 100%;
    font-size: 1.25rem;
    background: rgb(114, 220, 255);
    padding: 10px;
    margin: 0;
    cursor: pointer;
}



.zone-container{
    position: absolute;
    background-color: rgb(114, 220, 255);
    display: flex;
    height: 0;
    flex-direction: column;
    align-items: center;
    width: 10.9rem;
    transition: all 0.2s ease;
}
.zone-table{
    margin: 0 0 0px;
}
.zone-table-wrapper{
    transition: all 0.2s ease;
    height: 100%;
    overflow: hidden;
}


.location-container>.card>.content>.btn:hover .zone-container{
    height: 6.75rem;
}
.location-container>.card>.content>.btn:hover .zone-table-wrapper{
    height: 100%;
}



.zone-table>tbody>tr>td{
    background-color: rgb(0, 175, 0);
}
.zone-table td>a{
    color: white;
    display: block;
    padding: 10px 4px;
    margin: 0;
}
.zone-table .inactive{
    background-color: brown;
}
.zone-table .inactive>a{
    pointer-events: none;
}